nav{
    padding: 45px 0;
}
.menu{
    @include centeritem();
    column-gap: 65px;
    @include tablet-nav(){
        justify-content: space-between;
    }
    &__add{
        display: none;
    }
    &__btn{
        display: none;
        @include tablet-nav(){
            display: block;
            
        }
    }
    &__img{
        max-width: 134px;
        height: 37px;
        width: 100%;
        object-fit: cover;
    }
    &__bar{
        @include centeritem();
        justify-content: space-between;
        width: 100%;
        transition: .7s;

        @include tablet-nav() {
            flex-direction: column;
            height: 100vh;
            position: fixed;
            justify-content: center;
            right: -100%;
            top: 0;
            max-width: 300px;
            background-color: $mobile-bg-color;
            z-index: 10;
        }
    }
    
}
.menu__ul{
    @include centeritem();
    column-gap: 40px;
    list-style: none;
    @include tablet-nav(){
        flex-direction: column;
        row-gap: 32px;
        margin-bottom: 40px;
        border-top: 1px solid #7d7676;
        padding-top: 40px;
        width: 80%;
    }
    &-link{
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #36536B;
        opacity: 0.7;
        @include tablet-nav() {
            color: $btn-text-color;
            opacity: 1;
        } 
    }
}
.menu__add:checked~.menu__bar{
    right: 0;
}
.removex{
    display: none;
}
.remove{
    display: none;
    @include tablet-nav(){
        display: block;
        position: absolute;
        top: 100px;
        right: 30px;

    }
}
.remove:checked~.menu__bar{
    display: none;
}
.input{
    position: relative;
    margin-top: 21px;
    margin-bottom: 10px;
    @include tablet-main(){
        margin-left: 60px;
        margin-bottom: 20px;
        @include mobile(){
          
        }
    }
}
.main__left{
    @include tablet-main(){
        order: 1;
    }
}
.main__input{
    border: none;
    padding: 14px 276px 14px 27px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px; 
    @include mobile(){
        padding: 16px 158px 14px 27px;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px; 
    
    }
}
.main__input:active{
    border: none;
}
.main__btn{
    position: absolute;
    left: 320px;
    margin-top: 1px;
    @include mobile(){
        top: 60px;
        left: 0px;
        width: 347px;
        padding: 16px 158px 14px 27px;
    }
}
.main__title{
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;   
    letter-spacing: -0.553846px;   
    color: $text-color;
    margin-top: 166px;
    max-width: 546px; 
    @include tablet-main(){
        text-align: center;
        margin-top: 0px;
        width: 100%;
        margin-bottom: 30px;
       
    }
    @include mobile(){
        font-weight: 400;
        font-size: 32px;
        line-height: 36px; 
        margin-top: -10px;
    }
    
}
.main__link{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #6C8294; 
    margin-left: 30px;
    padding-top: 20px;
    @include tablet-main() {
        margin-left: 150px;
    }
    @include mobile(){
        position: absolute;
        bottom: -440px;
        left: -30px;
    }
}
.main-wrapper{
    display: flex;
    column-gap: 206px;
    @include tablet-main(){
        flex-direction: column;
        
    }
}
.main__right{
    &-img{
        max-width: 400px;
     @include tablet-main(){
        margin-left: 100px;
     }
     @include mobile(){
        margin-left: 70px;
        
     }
    }
}
